@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --color-footer-default: #222222;
  --color-accent: #007aff;
}
body {
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
* {
  font-family: OpenSans, sans-serif;
  box-sizing: inherit;
  text-size-adjust: 100%;
}
div {
  display: block;
}
.footer-main-container {
  align-self: flex-end;
}
.edf-theme {
  border-color: var(--color-footer-default);
  margin-left: auto;
  margin-right: auto;
}
#egf {
  background-color: var(--color-footer-default);
  border-top: none;
  text-size-adjust: 100%;
  font-size: 16px;
  padding: 1.25em 4.5em 2.5em;
  position: relative;
  z-index: 10;
  height: 100vh;
}
.egf-footer {
  background: var(--color-footer-default);
}
.egf-footer::before {
  content: " ";
  display: table;
}
.footer-social-container {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: -15px;
  margin-right: -15px;
}
.footer-social-container::before {
  content: " ";
  display: table;
}
@media (min-width: 768px) {
  .col-sm-8 {
    width: 66.66667%;
    float: left;
  }
}
.col-xs-10 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.col-sm-8 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
#egf ul {
  background-color: transparent;
  list-style: none;
}
.egf .social {
  margin: 1em 0 0;
  user-select: none;
  padding: 0;
}
.egf .social li:first-child {
  padding-left: 0;
}
.egf .social li {
  margin: 0 0 0.5em;
  padding: 0 0.15em;
  display: inline-block;
  font-size: 1.75em;
  transition: color 0.3s ease-in-out;
}
.egf .social li a {
  text-decoration: none;
}
.accent-color-hover.bi-facebook:hover {
  color: var(--color-accent);
  transition: color 0.4s ease-in-out;
}
.accent-color-hover.bi-twitter:hover {
  color: var(--color-accent);
  transition: color 0.4s ease-in-out;
}
.accent-color-hover.bi-youtube:hover {
  color: var(--color-accent);
  transition: color 0.4s ease-in-out;
}
.up-button:hover .bi-chevron-up {
  transition: color 0.4s ease-in-out;
  color: var(--color-accent);
}
.up-button {
  border: 2px solid white;
  transition: border 0.3s ease-in-out;
}
.up-button:hover {
  border-color: #007aff; /* Change to the desired border color on hover */
}
#egf a:visited {
  border: none;
  outline: none;
  text-decoration: none;
}
.egf-theme a {
  color: #e7e7e7;
}
.egf a {
  background-color: transparent;
}
a {
  text-decoration: none;
  cursor: pointer;
}

.egf-theme .text-color-nonactive {
  color: #ccc;
}
[class*=" eg-footer-icon-"],
[class^="eg-footer-icon-"] {
  font-feature-settings: "liga", normal, "dlig";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: discretionary-ligatures;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
  text-transform: none;
}
@media (min-width: 768px) {
  .col-sm-4 {
    width: 33.33333%;
    /* Convert Top Button Right */
    float: right; 
  }
}
.col-sm-4 .col-xs-2 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.egf-theme.epic_games .text-color-nonactive-border {
  border-color: #ccc;
}
.egf .up-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  float: right;
  height: 2.1em;
  margin: 1.25em 1em 0 0;
  padding: 0.25em;
  transition: border 0.3s ease-in-out;
  user-select: none;
  width: 2.1em;
  text-align: center;
}
.egf button {
  text-transform: none;
  overflow: visible;
  color: inherit;
  font: inherit;
}
button {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
}
.footer-social-container::after {
  clear: both;
  content: " ";
  display: table;
}

/* ///////////////////////////////// */

#egf .row {
  margin-bottom: 0;
  margin-top: 0;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row::before {
  text-size-adjust: 100%;
}
@media (min-width: 1200px) {
  .col-lg-6 {
    width: 50%;
    float: left;
  }
}
.col-lg-6 .col-md-7 .col-sm-8 .col-xs-12 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.egf.footer-link-wrapper {
  float: left;
}
.egh-theme.epic_games .mobile-border-color {
  border-color: #333;
}
.egh-theme.epic_games .text-color {
  color: #e7e7e7;
}
.egf .subtitle {
  display: block;
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 4px;
  padding-top: 1.5em;
}
.egf .subtitle span {
  opacity: 0.4;
}
.egf span {
  color: #ccc;
}
.footer-links {
  padding-right: 1.5em;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 2.6em 0.5em 0;
}

.footer-links li a {
  cursor: pointer;
  font-size: 0.91em;
  line-height: 1.4em;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}
.footer-links li a:hover {
  text-decoration: none;
  color: #007aff !important;
}
#egf hr {
  margin: 1em 0;
}
.mobile-border-color {
  border-color: #333;
}
.egf hr {
  border-style: solid none none;
  box-sizing: content-box;
  height: 0;
}
.egf .copyright {
  text-size-adjust: 100%;
  border-top: #dfdfdf;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1200px) {
  .col-lg-6 {
    width: 50%;
    float: left;
  }
}
.col-lg-6 .col-md-12 .col-xs-12 {
  min-height: 1px;
  position: relative;
}
.copyright-paragraph {
  color: #fff;
  font-family: OpenSans, sans-serif;
  font-size: 0.71em;
  font-weight: 100;
  line-height: 2em;
  letter-spacing: 0.05em;
  margin: 0;
  padding-top: 0.5em;
  padding-left: 10px;
}
.legal {
  padding: 1em 0 0 1em;
}
.legal .links li {
  display: inline;
  padding: 0 1em 0 0;
}
.legal .links li a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.legal .links li a:hover {
  text-decoration: none;
  color: var(--color-accent) !important;
}
.logos {
  display: flex;
}
.logos li:first-child {
  padding-left: 0;
}
.egf .logos li {
  margin: 5px 0.75em 5px 0;
}
.egf .logos li {
  display: inline-block;
}
.img-src {
  width: 35px;
  height: 40px;
  margin-left: 550px;
}
