        body {
            font-size: 100%;
        }

        /*! CSS Used from: https://epic-games-clone.vercel.app/static/css/main.e42f4e14.chunk.css */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Brutal Type";
        }

        body {
            background-color: #121212;
            background-color: var(--main-black);
            color: #fff;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        html {
            scroll-behavior: smooth;
        }

        .top-category-slider_top__1dWHS {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .top-category-slider_heading__3pMgC {
            font-size: 18px;
        }

        .top-category-slider_icons__133YT {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-gap: 8px;
            gap: 8px;
        }

        .top-category-slider_icon__1CEFP {
            background-color: grey;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-self: center;
            background: hsla(0, 0%, 100%, .1);
            padding: 6px;
            font-size: 20px;
        }

        .top-category-slider_icon__1CEFP:hover {
            background-color: #444343;
            cursor: pointer;
        }

        .top-category-slider_heading_cont__3c9dp {
            display: flex;
            align-items: center;
            grid-gap: 5px;
            gap: 5px;
        }

        .top-category-slider_arrow__3bj58 {
            padding-top: 2px;
            transition: .3s;
            font-weight: 600;
            font-size: 18px;
            cursor: pointer;
        }

        .top-category-slider_arrow__3bj58:hover {
            -webkit-transform: translate(10px);
            transform: translate(10px);
        }

        .popular-genre_container__1QPB0 {
            margin: 30px 8px 40px;
        }

        .popular-genre_cards__1aazx {
            display: flex;
            overflow-x: scroll;
            margin-top: 24px;
        }

        .popular-genre_cards__1aazx::-webkit-scrollbar {
            display: none;
        }

        .popular-genre_card__3CSzO {
            background: hsla(0, 0%, 100%, .1);
            transition: background-color 125ms ease-in-out;
            min-width: 231px;
            margin-right: 20px;
            background: #202020;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 12px 24px 20px;
        }

        .popular-genre_card_text__1G4bs {
            font-size: 18px;
        }

        .popular-genre_card__3CSzO:hover {
            background-color: #373737;
            cursor: pointer;
        }

        .browse-page_main__by63m {
            display: flex;
            flex-direction: column;
            grid-gap: 24px;
            gap: 24px;
        }

        .browse-page_data_container__DQwrC {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            grid-gap: 16px;
            gap: 16px;
            margin-left: 8px;
        }

        .browse-page_card_container__3Uo6_ {
            width: calc(50% - 16px);
            margin-bottom: 28px;
        }

        .browse-page_filters_sorting_container__22jve {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 8px;
        }

        .browse-page_sorting_para__2zuko {
            font-size: 14px;
            color: var(--gray-text);
        }

        .browse-page_filters__1LZLz {
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            grid-gap: 4px;
            gap: 4px;
            cursor: pointer;
        }

        .browse-page_sorting_para__2zuko>span {
            color: #fff;
            cursor: pointer;
        }

        .browse-page_sorting__iOiJv {
            position: relative;
        }

        .browse-page_filters_desktop__1X5ey {
            display: none;
        }

        @media (min-width:768px) {
            .browse-page_card_container__3Uo6_ {
                width: calc(33.333% - 16px);
            }

            .browse-page_filters__1LZLz {
                display: none;
            }

            .browse-page_main__by63m {
                max-width: 1600px;
                margin: auto;
            }

            .browse-page_containter__2kkNw {
                margin: 0 74px;
            }

            .browse-page_filters_desktop__1X5ey {
                display: unset;
                width: 20%;
            }

            .browse-page_main_container__2gOV1 {
                display: flex;
                grid-gap: 24px;
                gap: 24px;
            }

            .browse-page_data_wrapper__1VpUY {
                width: 80%;
            }

            .browse-page_sorting_para__2zuko {
                margin: 0 0 8px;
            }
        }

        @media (min-width:1120px) {
            .browse-page_card_container__3Uo6_ {
                width: calc(25% - 16px);
                height: 100%;
            }

            .browse-page_containter__2kkNw {
                margin: 0 132px;
            }
        }

        .price-component_price__3s8s1 {
            display: flex;
            grid-gap: 8px;
            gap: 8px;
            align-items: center;
            flex-wrap: wrap;
            height: 28px;
        }

        .price-component_prev_price__2Pdz0 {
            text-decoration: line-through;
            font-size: 14px;
            line-height: 20px;
            color: #ccc;
        }

        .price-component_disounted_price__2aQkW {
            font-size: 16px;
            line-height: 20px;
        }

        .price-component_blue_button__13OKH {
            background-color: var(--main-blue);
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            padding: 4px 5px;
            border-radius: 4px;
            min-width: 46px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff !important;
        }

        .game-card_card__RBJ5f {
            height: 100%;
        }

        .game-card_image_div__3GP6O {
            /* width: 232px;
            height: 309px; */
            position: relative;
            display: inline-block;
            
        }

        .game-card_icon__o86Ds {
            padding-top: 4px;
            padding-right: 4px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1000;
        }

        .game-card_image_div__3GP6O>img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }

        .game-card_info__3_mzD {
            display: flex;
            flex-direction: column;
            grid-gap: 4px;
            gap: 4px;
        }

        .game-card_tagline_cont__2bz4d {
            width: 100%;
        }

        .game-card_tagline__22z9K {
            color: var(--gray-text);
            font-size: 12px;
            margin-bottom: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .game-card_price__17bNm {
            margin-top: 10px;
        }

        .game-card_title__3klhw {
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .mini-card_image_div__2NgXx {
            position: relative;
        }

        @media (min-width:768px) {
            .game-card_icon__o86Ds {
                display: none;
            }

            .game-card_image_div__3GP6O:hover .game-card_icon__o86Ds {
                display: block;
            }
            .secondaryCard_image_div__K_J4L:hover .game-card_icon__o86Ds {
                display: block;
            }
            .freeCardContainer_image_div__1GQj_:hover .game-card_icon__o86Ds {
                display: block;
            }
            .mini-card_main__2JYj4:hover .game-card_icon__o86Ds {
                display: block;
            }


        }

        .filters_filter__2lCM5 {
            padding: 16px;
        }

        .filters_heading__17W27 {
            margin: 0 28px;
            font-size: 14px;
        }

        .filters_search_box__1Kb15 {
            margin: 28px;
            color: #f5f5f5;
            background-color: #202020;
            border-radius: 4px;
            height: 40px;
            display: flex;
            align-items: center;
            grid-gap: 16px;
            gap: 16px;
            padding-left: 16px;
        }

        .filters_search_box__1Kb15>input {
            background-color: transparent;
            border: none;
            color: #fff;
            font-weight: 500;
        }

        .filters_search_box__1Kb15>input:focus {
            outline: none;
        }

        .filters_filter_cont__3Mv0u {
            display: flex;
            flex-direction: column;
            padding: 24px 0;
        }

        .filters_line__1dM7b {
            background-color: #f5f5f5;
            opacity: .1;
            height: 1px;
        }

        .filters_checkboxes__1kzoC {
            display: flex;
            flex-direction: column;
            grid-gap: 9px;
            gap: 9px;
            font-size: 14px;
        }

        .filters_checkbox__2ilP2 {
            border-radius: 4px;
            position: relative;
        }

        .filters_input__3HsA6 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 0;
            height: 100%;
            cursor: pointer;
        }

        .filters_label__3mtaH {
            display: flex;
            justify-content: space-between;
            padding: 9px 12px;
            border-radius: 4px;
        }

        .filters_input__3HsA6~div {
            background-color: var(--main-black);
        }

        .filters_input__3HsA6:checked~div {
            color: #fff;
        }

        .filters_input__3HsA6:checked~div {
            background-color: hsla(0, 0%, 100%, .1);
        }

        .filters_check__2S_A4 {
            opacity: 0;
            font-size: 20px;
        }

        .filters_input__3HsA6:checked~div>.filters_check__2S_A4 {
            opacity: 1;
        }

        @media (min-width:768px) {
            .filters_filter_cont__3Mv0u {
                padding: 0;
            }

            .filters_heading__17W27 {
                margin: 0;
            }

            .filters_filter__2lCM5 {
                padding: 16px 0;
            }

            .filters_search_box__1Kb15 {
                margin: 28px 0;
            }
        }

        .header_padding__left__RHyxc {
            padding-left: 15px;
        }

        .header_padding__right__EBNcD {
            padding-right: 15px;
        }

        .header_onhover__color__white__3u48K {
            color: var(--gray-text);
        }

        .header_header__navigations__div__2pSIS:hover .header_onhover__color__white__3u48K {
            color: #fff;
        }

        .header_onhover__color__blue__3o3Va:hover {
            background-color: #2e8ef0;
        }

        .header_icon__2CeRL>img {
            height: 20px;
        }

        .header_download_btn__2HnRe {
            height: 100%;
        }

        .header_sidemenu__3TRGT {
            display: none;
        }

        .header_header__main__div__1miNF {
            display: flex;
            height: 56px;
            background-color: #2a2a2a;
            align-items: center;
            justify-content: space-between;
        }

        .header_header__first__3S80d {
            display: flex;
            align-items: center;
        }

        .header_header__logo__36Cdj {
            margin-left: 15px;
            cursor: pointer;
        }

        .header_header__navigations__wRzWm {
            display: flex;
            height: 56px;
            align-items: center;
            color: #ccc;
            margin-left: 15px;
        }

        .header_header__navigations__wRzWm div {
            height: 100%;
        }

        .header_header__navigations__wRzWm p {
            padding-top: 20px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 12px;
        }

        .header_header__navigations__div__2pSIS:hover {
            border-bottom: 5px solid #0078f2;
            cursor: pointer;
            color: #fff;
        }

        .header_header__second__2Cbwd {
            display: flex;
            height: 56px;
            align-items: center;
            color: #ccc;
            cursor: pointer;
        }

        .header_header__button__Icswa {
            background-color: #0078f2;
            border: none;
            color: #fff;
            font-size: 12px;
            padding: 20px 30px;
            cursor: pointer;
        }

        .header_header__second__user__32ejS {
            display: flex;
            align-items: center;
        }

        #header_header__rewrite__2vMyA {
            font-size: 12px;
        }

        @media only screen and (max-width:768px) {

            .header_display__none__R6tIm,
            .header_header__navigations__wRzWm {
                display: none;
            }

            .header_toggle__3WbMr {
                position: relative;
                width: 56px;
                height: 55px;
                background-color: #0078f2;
                box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                overflow: hidden;
            }

            .header_toggle__3WbMr span {
                position: absolute;
                width: 40px;
                height: 3px;
                background-color: #fff;
                border-radius: 3px;
                transition: .2s;
            }

            .header_toggle__3WbMr span:first-child {
                -webkit-transform: translateY(-15px);
                transform: translateY(-15px);
                width: 40px;
                left: 8px;
            }

            .header_toggle__3WbMr span:nth-child(2) {
                -webkit-transform: translateY(15px);
                transform: translateY(15px);
                width: 40px;
                left: 8px;
            }

            .header_sidemenu__3TRGT {
                display: block;
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 100;
                top: 0;
                left: 0;
                background: #2a2a2a;
                overflow-x: hidden;
                transition: .5s;
                padding-top: 60px;
            }

            .header_mainMenu__3pxnB {
                display: flex;
                min-height: 100%;
                flex-direction: column;
                justify-content: space-between;
            }

            .header_mainMenu__3pxnB p {
                text-align: left;
                font-size: 12px;
            }

            .header_mainMenu__3pxnB p:hover {
                color: #fff;
            }

            .header_sidebar__info__34xIO p {
                border-bottom: 1px solid #3f3e3e;
                padding: 10px;
                font-size: 14px;
                margin-left: 14px;
                color: #e7e7e7;
            }

            #header_btn__revoke__3Gy5L {
                padding: 20px 152px;
                color: #fff;
                font-size: 9px;
            }

            .header_slider__botton__3XiId {
                width: 100%;
                height: 47px;
                display: flex;
                box-shadow: 10px 0 20px rgba(161, 160, 160, .08);
            }

            .header_slider__botton__first__aj91T {
                display: flex;
                width: 70%;
                align-items: center;
                justify-content: center;
                border-right: 1px solid #3f3e3e;
            }

            .header_slider__botton__first__aj91T p {
                margin-left: 15px;
                font-size: 12px;
            }

            .header_slider__botton__first__aj91T img {
                width: 25px;
                height: 25px;
            }

            .header_slider__botton__second__3ykZy {
                display: flex;
                width: 30%;
                align-items: center;
                justify-content: center;
            }

            .header_slider__botton__second__3ykZy img {
                width: 25px;
                height: 25px;
            }
        }

        .sub-navbar_main__hR7Dc {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 80px;
            padding: 8px;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: var(--main-black);
        }

        .sub-navbar_accordion__3sUXA {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--gray-text);
            font-size: 14px;
            grid-gap: 4px;
            gap: 4px;
            cursor: pointer;
        }

        .sub-navbar_icon__lKP2r {
            font-size: 22px;
            color: var(--gray-text);
        }

        .sub-navbar_icon_a__cW4aE {
            font-size: 14px;
        }

        .sub-navbar_main_desktop__19-YT {
            display: none;
        }

        @media (min-width:768px) {
            .sub-navbar_main__hR7Dc {
                display: none;
            }

            .sub-navbar_main_desktop__19-YT {
                color: var(--gray-text);
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 14px;
                line-height: 20px;
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                background-color: var(--main-black);
                z-index: 10;
                padding: 35px 74px;
            }

            .sub-navbar_search_box__8UOVU {
                color: #f5f5f5;
                background-color: #202020;
                border-radius: 24px;
                height: 40px;
                display: flex;
                align-items: center;
                grid-gap: 16px;
                gap: 16px;
                padding-left: 16px;
            }

            .sub-navbar_search_box__8UOVU>input {
                background-color: transparent;
                border: none;
                color: #fff;
                font-weight: 500;
            }

            .sub-navbar_search_box__8UOVU>input:focus {
                outline: none;
            }

            .sub-navbar_left__1pAwu {
                display: flex;
                grid-gap: 20px;
                gap: 20px;
                align-items: center;
            }

            .sub-navbar_option_desktop__1z-9D,
            .sub-navbar_wishlist__RmSJY {
                cursor: pointer;
                color: var(--gray-text);
            }

            .sub-navbar_option_desktop__1z-9D:hover,
            .sub-navbar_wishlist__RmSJY:hover {
                color: #fff;
            }
        }

        @media (min-width:1120px) {
            .sub-navbar_main_desktop__19-YT {
                padding: 35px 132px;
                max-width: 1600px;
                margin: auto;
            }
        }

        .Footer_footer__1w0lV {
            width: 100%;
            background-color: #202020;
            margin-top: 50px;
        }

        .Footer_main__2Qr7m {
            display: flex;
            flex-direction: column;
            max-width: 1200px;
            grid-gap: 40px;
            gap: 40px;
            margin: auto;
            padding: 40px;
            border-radius: 4px;
        }

        .Footer_lang_div__2vHQZ {
            padding-bottom: 20px;
            border-bottom: 1px solid #494747;
        }

        .Footer_cont__36B33 {
            margin-top: 20px;
            display: flex;
            grid-gap: 20px;
            gap: 20px;
            flex-direction: column;
            color: #fff;
            font-weight: 400;
        }

        .Footer_links__2pI3S {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            gap: 20px;
            flex-wrap: wrap;
        }

        .Footer_footer_heading__ia8-f {
            color: #616161;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }

        .Footer_epicgames__naHC7 p,
        .Footer_resources__2svVb {
            font-size: 14px;
        }

        .Footer_bottom_text__3-S6d {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: .0105em;
            color: #f5f5f5;
            text-align: center;
            font-weight: 300;
        }

        .Footer_social_links__1-uuf {
            display: flex;
            grid-gap: 20px;
            gap: 20px;
        }

        .Footer_icon_header__30HWJ {
            display: flex;
            justify-content: space-between;
        }

        .Footer_left__4fSdk {
            grid-gap: 20px;
            grid-gap: 7px;
            gap: 7px;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: .0105em;
            color: #f5f5f5;
        }

        .Footer_bottom_footer__224bY,
        .Footer_left__4fSdk {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .Footer_bottom_footer__224bY {
            grid-gap: 20px;
            gap: 20px;
        }

        .Footer_right__3yQE6 {
            grid-gap: 10px;
            gap: 10px;
            display: flex;
        }

        @media screen and (min-width:768px) {
            .Footer_main__2Qr7m {
                display: flex;
                max-width: 1600px;
                margin: auto;
            }

            .Footer_lang_div__2vHQZ {
                padding-bottom: 100px;
                border-bottom: 1px solid #494747;
            }

            .Footer_cont__36B33 {
                margin-top: 20px;
                display: flex;
                grid-gap: 20px;
                gap: 20px;
                flex-direction: column;
                width: 50%;
            }

            .Footer_links__2pI3S p:hover {
                color: var(--main-blue);
            }

            .Footer_bottom_text__3-S6d {
                font-size: 12px;
                line-height: 18px;
                letter-spacing: .0105em;
                color: #f5f5f5;
                text-align: left;
            }

            .Footer_links__2pI3S {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 40px;
                gap: 40px;
                grid-gap: 27px;
                gap: 27px;
            }

            .Footer_left__4fSdk {
                display: flex;
                flex-direction: row;
                grid-gap: 20px;
                gap: 20px;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: .0105em;
                color: #f5f5f5;
            }

            .Footer_bottom_footer__224bY {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        :root {
            --hover: hsla(0, 0%, 100%, 0.836);
        }

        :root {
            --main-black: #121212;
            --light-black: #202020;
            --main-gray: #2b2b2b;
            --gray-text: hsla(0, 0%, 100%, 0.72);
            --main-blue: #0074e4;
            --disabled-state-opacity: 0.5;
            --seconday-text: hsla(0, 0%, 96.1%, 0.6);
        }

        ::-webkit-scrollbar {
            display: none;
        }

        /*! CSS Used from: Embedded */
        .css-1t37sij {
            position: relative;
            transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            overflow-anchor: none;
            border-radius: 0px;
            background: rgb(18, 18, 18);
            color: rgb(147, 147, 147);
            box-shadow: none;
        }

        .css-1t37sij::before {
            position: absolute;
            left: 0px;
            top: -1px;
            right: 0px;
            height: 1px;
            content: "";
            opacity: 1;
            background-color: rgba(255, 255, 255, 0.12);
            transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }

        .css-1t37sij:first-of-type::before {
            display: none;
        }

        .css-1t37sij:first-of-type {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .css-1t37sij:last-of-type {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .css-xglvsw {
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            position: relative;
            box-sizing: border-box;
            -webkit-tap-highlight-color: transparent;
            background-color: transparent;
            outline: 0px;
            border: 0px;
            margin: 0px;
            border-radius: 0px;
            cursor: pointer;
            user-select: none;
            vertical-align: middle;
            appearance: none;
            text-decoration: none;
            color: inherit;
            display: flex;
            min-height: 48px;
            padding: 0px 16px;
            transition: min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }

        /* @media print {
            .css-xglvsw {
                -webkit-print-color-adjust: exact;
            }
        } */

        .css-xglvsw:hover:not(.Mui-disabled) {
            cursor: pointer;
        }

        .css-17o5nyn {
            display: flex;
            -webkit-box-flex: 1;
            flex-grow: 1;
            margin: 12px 0px;
            transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }

        .css-1w2nqsn {
            margin: 0px;
            font-family: "Brutal Type";
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5;
        }

        .css-1n3veo1 {
            display: flex;
            color: rgb(255, 255, 255);
            transform: rotate(0deg);
            transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }

        .css-5zhuds {
            user-select: none;
            width: 1em;
            height: 1em;
            display: inline-block;
            fill: currentcolor;
            flex-shrink: 0;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            font-size: 1.5rem;
            color: rgb(147, 147, 147);
        }

        .css-a0y2e3 {
            height: 0px;
            overflow: hidden;
            transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            visibility: hidden;
        }

        .css-hboir5 {
            display: flex;
            width: 100%;
        }

        .css-8atqhb {
            width: 100%;
        }

        .css-u7qq7e {
            padding: 8px 16px 16px;
        }

        /*! CSS Used fontfaces */
        @font-face {
            font-family: "Brutal Type";
            src: url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraLight.eot");
            src: local("Brutal Type Extra Light"), local("BrutalType-ExtraLight"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraLight.eot?#iefix") format("embedded-opentype"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraLight.woff2") format("woff2"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraLight.woff") format("woff"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraLight.ttf") format("truetype");
            font-weight: 200;
            font-style: normal;
        }

        @font-face {
            font-family: "Brutal Type";
            src: url("https://epic-games-clone.vercel.app/fonts/BrutalType-Medium.eot");
            src: local("Brutal Type Medium"), local("BrutalType-Medium"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Medium.eot?#iefix") format("embedded-opentype"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Medium.woff2") format("woff2"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Medium.woff") format("woff"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Medium.ttf") format("truetype");
            font-weight: 500;
            font-style: normal;
        }

        @font-face {
            font-family: "Brutal Type";
            src: url("https://epic-games-clone.vercel.app/fonts/BrutalType-Bold.eot");
            src: local("Brutal Type Bold"), local("BrutalType-Bold"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Bold.eot?#iefix") format("embedded-opentype"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Bold.woff2") format("woff2"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Bold.woff") format("woff"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Bold.ttf") format("truetype");
            font-weight: bold;
            font-style: normal;
        }

        @font-face {
            font-family: "Brutal Type";
            src: url("https://epic-games-clone.vercel.app/fonts/BrutalType-Thin.eot");
            src: local("Brutal Type Thin"), local("BrutalType-Thin"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Thin.eot?#iefix") format("embedded-opentype"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Thin.woff2") format("woff2"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Thin.woff") format("woff"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Thin.ttf") format("truetype");
            font-weight: 100;
            font-style: normal;
        }

        @font-face {
            font-family: "Brutal Type";
            src: url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraBold.eot");
            src: local("Brutal Type Extra Bold"), local("BrutalType-ExtraBold"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraBold.eot?#iefix") format("embedded-opentype"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraBold.woff2") format("woff2"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraBold.woff") format("woff"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraBold.ttf") format("truetype");
            font-weight: 800;
            font-style: normal;
        }

        @font-face {
            font-family: "Brutal Type";
            src: url("https://epic-games-clone.vercel.app/fonts/BrutalType-Black.eot");
            src: local("Brutal Type Black"), local("BrutalType-Black"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Black.eot?#iefix") format("embedded-opentype"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Black.woff2") format("woff2"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Black.woff") format("woff"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Black.ttf") format("truetype");
            font-weight: 900;
            font-style: normal;
        }

        @font-face {
            font-family: "Brutal Type";
            src: url("https://epic-games-clone.vercel.app/fonts/BrutalType-Light.eot");
            src: local("Brutal Type Light"), local("BrutalType-Light"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Light.eot?#iefix") format("embedded-opentype"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Light.woff2") format("woff2"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Light.woff") format("woff"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Light.ttf") format("truetype");
            font-weight: 300;
            font-style: normal;
        }

        @font-face {
            font-family: "Brutal Type";
            src: url("https://epic-games-clone.vercel.app/fonts/BrutalType.eot");
            src: local("Brutal Type"), local("BrutalType"), url("https://epic-games-clone.vercel.app/fonts/BrutalType.eot?#iefix") format("embedded-opentype"), url("https://epic-games-clone.vercel.app/fonts/BrutalType.woff2") format("woff2"), url("https://epic-games-clone.vercel.app/fonts/BrutalType.woff") format("woff"), url("https://epic-games-clone.vercel.app/fonts/BrutalType.ttf") format("truetype");
            font-weight: normal;
            font-style: normal;
        }