body {
    font-size: 100%;
    box-sizing: border-box;
    
}

/*! CSS Used from: https://epic-games-clone.vercel.app/slider.css */
.carousel img {
    border-radius: 8px;
}

.carousel.carousel-slider .control-arrow {
    display: none;
}

.carousel .slide img {
    border-radius: 8px;
}

.carousel .control-dots {
    display: none;
}

.control-dots {
    display: none;
}

@media (min-width: 960px) {
    .control-dots {
        display: none;
    }
}

.legend {
    opacity: 1;
}

/*! CSS Used from: https://epic-games-clone.vercel.app/static/css/2.ed1298f3.chunk.css */
.carousel.carousel-slider .control-arrow,
.carousel .control-arrow {
    transition: all .25s ease-in;
    opacity: .4;
    filter: alpha(opacity=40);
    position: absolute;
    z-index: 2;
    top: 20px;
    background: none;
    border: 0;
    font-size: 32px;
    cursor: pointer;
}

.carousel .control-arrow:focus,
.carousel .control-arrow:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.carousel.carousel-slider .control-arrow:before,
.carousel .control-arrow:before {
    margin: 0 5px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content: "";
}

.carousel .control-prev.control-arrow {
    left: 0;
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid #fff;
}

.carousel .control-next.control-arrow {
    right: 0;
}

.carousel .control-next.control-arrow:before {
    border-left: 8px solid #fff;
}

.carousel-root {
    outline: none;
}

.carousel {
    position: relative;
    width: 100%;
}

.carousel * {
    box-sizing: border-box;
}

.carousel img {
    width: 100%;
    display: inline-block;
    pointer-events: none;
}

.carousel .control-arrow {
    outline: 0;
    border: 0;
    background: none;
    top: 50%;
    margin-top: -13px;
    font-size: 18px;
}

.carousel.carousel-slider {
    position: relative;
    margin: 0;
    overflow: hidden;
}

.carousel.carousel-slider .control-arrow {
    top: 0;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    margin-top: 0;
    padding: 5px;
}

.carousel.carousel-slider .control-arrow:hover {
    background: rgba(0, 0, 0, .2);
}

.carousel .slider-wrapper {
    overflow: hidden;
    margin: auto;
    width: 100%;
    transition: height .15s ease-in;
}

.carousel .slider-wrapper.axis-horizontal .slider {
    -ms-box-orient: horizontal;
    display: -moz-flex;
    display: flex;
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
    flex-direction: column;
    flex-flow: column;
}

.carousel .slider {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    width: 100%;
}

.carousel .slider.animated {
    transition: all .35s ease-in-out;
}

.carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
}

.carousel .slide img {
    width: 100%;
    vertical-align: top;
    border: 0;
}

.carousel .slide .legend {
    transition: all .5s ease-in-out;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    opacity: .25;
    transition: opacity .35s ease-in-out;
}

.carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
}

@media (min-width:960px) {
    .carousel .control-dots {
        bottom: 0;
    }
}

.carousel .control-dots .dot {
    transition: opacity .25s ease-in;
    opacity: .3;
    filter: alpha(opacity=30);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .9);
    background: #fff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
    margin: 0 8px;
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.carousel:hover .slide .legend {
    opacity: 1;
}

/*! CSS Used from: https://epic-games-clone.vercel.app/static/css/main.e42f4e14.chunk.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Brutal Type";
}

body {
    background-color: #121212;
    background-color: var(--main-black);
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

.top-category-slider_top__1dWHS {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-category-slider_heading__3pMgC {
    font-size: 18px;
}

.top-category-slider_icons__133YT {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    gap: 8px;
}

.top-category-slider_icon__1CEFP {
    background-color: grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
    background: hsla(0, 0%, 100%, .1);
    padding: 6px;
    font-size: 20px;
}

.top-category-slider_icon__1CEFP:hover {
    background-color: #444343;
    cursor: pointer;
}

.top-category-slider_heading_cont__3c9dp {
    display: flex;
    align-items: center;
    grid-gap: 5px;
    gap: 5px;
}

.top-category-slider_arrow__3bj58 {
    padding-top: 2px;
    transition: .3s;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.top-category-slider_arrow__3bj58:hover {
    -webkit-transform: translate(10px);
    transform: translate(10px);
}

.price-component_price__3s8s1 {
    display: flex;
    grid-gap: 8px;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
    height: 28px;
}

.price-component_prev_price__2Pdz0 {
    text-decoration: line-through;
    font-size: 14px;
    line-height: 20px;
    color: #ccc;
}

.price-component_disounted_price__2aQkW {
    font-size: 16px;
    line-height: 20px;
}

.price-component_blue_button__13OKH {
    background-color: var(--main-blue);
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    padding: 4px 5px;
    border-radius: 4px;
    min-width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
}

.game-card_card__RBJ5f {
    height: 100%;
}

.game-card_image_div__3GP6O {
    position: relative;
    display: inline-block;
}

.game-card_icon__o86Ds {
    padding-top: 4px;
    padding-right: 4px;
    position: absolute;
    right: 0;
    top: 0;
}

.game-card_icon__o86Ds>#submit {
    /* background-color: #000;
    border: 1.5px solid #fff; */
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    background: url(https://epic-games-clone.vercel.app/icons/Add_to_Wishlist.svg);
    border: none;
}

.game-card_image_div__3GP6O>img {
    width: 100%;
    /* width: 236px; */
    height: 315px;
    object-fit: cover;
    border-radius: 4px;
}

.game-card_info__3_mzD {
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
    gap: 4px;
}

.game-card_tagline_cont__2bz4d {
    width: 100%;
}

.game-card_tagline__22z9K {
    color: var(--gray-text);
    font-size: 12px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-card_price__17bNm {
    margin-top: 10px;
}

.game-card_title__3klhw {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width:768px) {
    .game-card_icon__o86Ds {
        display: none;
    }

    .game-card_image_div__3GP6O:hover .game-card_icon__o86Ds {
        display: block;
    }
}

.header_padding__left__RHyxc {
    padding-left: 15px;
}

.header_padding__right__EBNcD {
    padding-right: 15px;
}

.header_onhover__color__white__3u48K {
    color: var(--gray-text);
}

.header_header__navigations__div__2pSIS:hover .header_onhover__color__white__3u48K {
    color: #fff;
}

.header_onhover__color__blue__3o3Va:hover {
    background-color: #2e8ef0;
}

.header_icon__2CeRL>img {
    height: 20px;
}

.header_download_btn__2HnRe {
    height: 100%;
}

.header_sidemenu__3TRGT {
    display: none;
}

.header_header__main__div__1miNF {
    display: flex;
    height: 56px;
    background-color: #2a2a2a;
    align-items: center;
    justify-content: space-between;
}

.header_header__first__3S80d {
    display: flex;
    align-items: center;
}

.header_header__logo__36Cdj {
    margin-left: 15px;
    cursor: pointer;
}

.header_header__navigations__wRzWm {
    display: flex;
    height: 56px;
    align-items: center;
    color: #ccc;
    margin-left: 15px;
}

.header_header__navigations__wRzWm div {
    height: 100%;
}

.header_header__navigations__wRzWm p {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
}

.header_header__navigations__div__2pSIS:hover {
    border-bottom: 5px solid #0078f2;
    cursor: pointer;
    color: #fff;
}

.header_header__second__2Cbwd {
    display: flex;
    height: 56px;
    align-items: center;
    color: #ccc;
    cursor: pointer;
}

.header_header__button__Icswa {
    background-color: #0078f2;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 20px 30px;
    cursor: pointer;
}

.header_header__second__user__32ejS {
    display: flex;
    align-items: center;
}

#header_header__rewrite__2vMyA {
    font-size: 12px;
}

@media only screen and (max-width:768px) {

    .header_display__none__R6tIm,
    .header_header__navigations__wRzWm {
        display: none;
    }

    .header_toggle__3WbMr {
        position: relative;
        width: 56px;
        height: 55px;
        background-color: #0078f2;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
    }

    .header_toggle__3WbMr span {
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: #fff;
        border-radius: 3px;
        transition: .2s;
    }

    .header_toggle__3WbMr span:first-child {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
        width: 40px;
        left: 8px;
    }

    .header_toggle__3WbMr span:nth-child(2) {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        width: 40px;
        left: 8px;
    }

    .header_sidemenu__3TRGT {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        background: #2a2a2a;
        overflow-x: hidden;
        transition: .5s;
        padding-top: 60px;
    }

    .header_mainMenu__3pxnB {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .header_mainMenu__3pxnB p {
        text-align: left;
        font-size: 12px;
    }

    .header_mainMenu__3pxnB p:hover {
        color: #fff;
    }

    .header_sidebar__info__34xIO p {
        border-bottom: 1px solid #3f3e3e;
        padding: 10px;
        font-size: 14px;
        margin-left: 14px;
        color: #e7e7e7;
    }

    #header_btn__revoke__3Gy5L {
        padding: 20px 152px;
        color: #fff;
        font-size: 9px;
    }
}

.sub-navbar_main__hR7Dc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--main-black);
}

.sub-navbar_accordion__3sUXA {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-text);
    font-size: 14px;
    grid-gap: 4px;
    gap: 4px;
    cursor: pointer;
}

.sub-navbar_icon__lKP2r {
    font-size: 22px;
    color: var(--gray-text);
}

.sub-navbar_icon_a__cW4aE {
    font-size: 14px;
}

.sub-navbar_main_desktop__19-YT {
    display: none;
}

@media (min-width:768px) {
    .sub-navbar_main__hR7Dc {
        display: none;
    }

    .sub-navbar_main_desktop__19-YT {
        color: var(--gray-text);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        line-height: 20px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: var(--main-black);
        z-index: 10;
        padding: 35px 74px;
    }

    .sub-navbar_search_box__8UOVU {
        color: #f5f5f5;
        background-color: #202020;
        border-radius: 24px;
        height: 40px;
        display: flex;
        align-items: center;
        grid-gap: 16px;
        gap: 16px;
        padding-left: 16px;
    }

    .sub-navbar_search_box__8UOVU>input {
        background-color: transparent;
        border: none;
        color: #fff;
        font-weight: 500;
    }

    .sub-navbar_search_box__8UOVU>input:focus {
        outline: none;
    }

    .sub-navbar_left__1pAwu {
        display: flex;
        grid-gap: 20px;
        gap: 20px;
        align-items: center;
    }
    .sub-navbar_option_desktop__1z-9D,
    .sub-navbar_right__1pAwu {
        display: flex !important;
        grid-gap: 20px !important;
        gap: 20px !important;
        align-items: center !important;
    }
    

    .sub-navbar_wishlist__RmSJY {
        cursor: pointer !important;
        color: var(--gray-text) !important;
    }

    .sub-navbar_cart__RmSJY {
        cursor: pointer !important;
        color: var(--gray-text) !important;
    }

 
    .sub-navbar_right__1pAwu .count-product {
        /* position: absolute; */
        right: 0;
        top: 0;
        display: block;
        font-size: 14px;
        font-weight: bold;
        padding: 0 0.8rem;
        border-radius: 16px;
        background-color: #f5f5f5;
        color: #000;
        box-shadow: #121212 0px 0px 0px 2px;
    }
    .sub-navbar_option_desktop__1z-9D:hover,
    .sub-navbar_wishlist__RmSJY:hover {
        color: #fff !important;
    }

    .sub-navbar_cart__RmSJY:hover {
        color: #fff !important;
    }
}

@media (min-width:1120px) {
    .sub-navbar_main_desktop__19-YT {
        padding: 35px 132px;
        max-width: 1600px;
        margin: auto;
    }

    
}

.Footer_footer__1w0lV {
    width: 100%;
    background-color: #202020;
    margin-top: 50px;
}

.Footer_main__2Qr7m {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    grid-gap: 40px;
    gap: 40px;
    margin: auto;
    padding: 40px;
    border-radius: 4px;
}

.Footer_lang_div__2vHQZ {
    padding-bottom: 20px;
    border-bottom: 1px solid #494747;
}

.Footer_cont__36B33 {
    margin-top: 20px;
    display: flex;
    grid-gap: 20px;
    gap: 20px;
    flex-direction: column;
    color: #fff;
    font-weight: 400;
}

.Footer_links__2pI3S {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.Footer_footer_heading__ia8-f {
    color: #616161;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.Footer_epicgames__naHC7 p,
.Footer_resources__2svVb {
    font-size: 14px;
}

.Footer_bottom_text__3-S6d {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .0105em;
    color: #f5f5f5;
    text-align: center;
    font-weight: 300;
}

.Footer_social_links__1-uuf {
    display: flex;
    grid-gap: 20px;
    gap: 20px;
}

.Footer_icon_header__30HWJ {
    display: flex;
    justify-content: space-between;
}

.Footer_left__4fSdk {
    grid-gap: 20px;
    grid-gap: 7px;
    gap: 7px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: .0105em;
    color: #f5f5f5;
}

.Footer_bottom_footer__224bY,
.Footer_left__4fSdk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Footer_bottom_footer__224bY {
    grid-gap: 20px;
    gap: 20px;
}

.Footer_right__3yQE6 {
    grid-gap: 10px;
    gap: 10px;
    display: flex;
}

@media screen and (min-width:768px) {
    .Footer_main__2Qr7m {
        display: flex;
        max-width: 1600px;
        margin: auto;
    }

    .Footer_lang_div__2vHQZ {
        padding-bottom: 100px;
        border-bottom: 1px solid #494747;
    }

    .Footer_cont__36B33 {
        margin-top: 20px;
        display: flex;
        grid-gap: 20px;
        gap: 20px;
        flex-direction: column;
        width: 50%;
    }

    .Footer_links__2pI3S p:hover {
        color: var(--main-blue);
    }

    .Footer_bottom_text__3-S6d {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: .0105em;
        color: #f5f5f5;
        text-align: left;
    }

    .Footer_links__2pI3S {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        gap: 40px;
        grid-gap: 27px;
        gap: 27px;
    }

    .Footer_left__4fSdk {
        display: flex;
        flex-direction: row;
        grid-gap: 20px;
        gap: 20px;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: .0105em;
        color: #f5f5f5;
    }

    .Footer_bottom_footer__224bY {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.landingPage_freeCardContainer__23pUH,
.landingPage_mainCardContainer__1UAMb,
.landingPage_miniCardContainer__HWJY-,
.landingPage_secondaryCardContainer__3EDw7 {
    padding: 50px;
}

.landingPage_freeCardContainer__23pUH {
    background-color: var(--light-black);
    border-radius: 6px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.landingPage_data_cont__2-Xoq {
    margin-top: 20px;
}

.landingPage_minicard__2kOWY {
    display: flex;
    flex-direction: column;
    margin: auto;
    grid-gap: 40px;
    gap: 40px;
}

@media screen and (min-width:768px) {
    .landingPage_main__27pL- {
        max-width: 1600px;
        margin: auto;
    }

    .landingPage_landing_container__25-Jq {
        margin: 0 74px;
    }

    .landingPage_mainCardContainer__1UAMb {
        padding: 5px;
        margin-top: auto;
    }

    .landingPage_mainCardContainer__1UAMb.pb30{
        padding-bottom: 20px !important;
    }

    .landingPage_secondaryCardContainer__3EDw7 {
        padding: 5px;
        margin: 40px auto auto;
    }

    .landingPage_freeCardContainer__23pUH {
        padding: 30px;
        background-color: var(--light-black);
        border-radius: 6px;
        margin: 40px auto;
    }

    .landingPage_miniCardContainer__HWJY- {
        border-right: 1px solid #2a2a2a;
        padding-right: 40px;
    }

    .landingPage_minicard__2kOWY {
        display: flex;
        flex-direction: row;
        margin: auto;
        overflow-x: scroll;
        justify-content: space-between;
    }
}

@media (min-width:1120px) {
    .landingPage_landing_container__25-Jq {
        margin: 0 132px;
    }
}

.mainCardContainer_container__j2ttT {
    display: flex;
    justify-content: center;
    flex-direction: row;
    grid-gap: 16px;
    gap: 16px;
    flex-wrap: wrap;
}

.mainCardContainer_card__2_wdK {
    width: calc(50% - 16px);
    margin-bottom: 28px;
}

@media screen and (min-width:768px) {
    .mainCardContainer_container__j2ttT {
        overflow-x: none;
        display: flex;
        grid-gap: 10px;
        gap: 10px;
        width: 100%;
        justify-content: space-between;
    }



    .mainCardContainer_mainCardContainer__308RZ {
        margin-top: 20px;
    }

    .mainCardContainer_card__2_wdK {
        width: calc(20% - 16px);
        margin-bottom: 28px;
    }
}

:root {
    --hover: hsla(0, 0%, 100%, 0.836);
}

.secondaryCard_card__37jnF {
    width: 300px;
    text-decoration: none;
}

.secondaryCard_title__2BECf {
    font-size: 20px;
    margin: 5px 0;
    color: #fff;
}

.secondaryCard_description__EaOgH {
    color: hsla(0, 0%, 100%, .72);
    color: var(--gray-text);
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 20px;
}

.secondaryCard_price__8Ht_V {
    margin-top: 20px;
}

.secondaryCard_banner__BzAcT {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.secondaryCard_image_div__K_J4L {
    position: relative;
    display: inline-block;
}

.secondaryCard_content__2PuU0 {
    padding: 0 20px;
}

@media screen and (min-width:768px) {
    .secondaryCard_card__37jnF {
        width: 580px;
        padding-top: 15px;
        margin-bottom: 10px;
    }

    .secondaryCard_content__2PuU0 {
        padding: 0 30px;
    }

    .secondaryCard_title__2BECf {
        font-size: 20px;
        margin: 30px 0 10px;
    }

    .secondaryCard_description__EaOgH {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .secondaryCard_banner__BzAcT {
        width: 100%;
        border-radius: 10px;
    }

    .secondaryCard_image_div__K_J4L {
        background: #fff;
        height: 326px;
        /* overflow: hidden; */
        border-radius: 13px;
    }

    .secondaryCard_banner__BzAcT {
        opacity: 1;
        transition: .3s;
    }

    .secondaryCard_banner__BzAcT:hover {
        opacity: .9;
    }
}

.price-component_price__2hStx {
    display: flex;
    grid-gap: 8px;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
    height: 28px;
}

.price-component_blue_button__15s4b {
    background-color: var(--main-blue);
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    padding: 4px 5px;
    border-radius: 4px;
    min-width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-component_prev_price__2cAB1 {
    text-decoration: line-through;
    font-size: 14px;
    line-height: 20px;
    color: #ccc;
}

.price-component_disounted_price__2bFdX {
    font-size: 16px;
    line-height: 20px;
}

.secondaryCardContainer_container__1eNx_ {
    overflow-x: scroll;
    display: flex;
    grid-gap: 20px;
    gap: 20px;
    width: 100%;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
}

.secondaryCardContainer_card__Zs7RL {
    flex-shrink: 0;
    align-items: center;
}

@media screen and (min-width:768px) {
    .secondaryCardContainer_container__1eNx_ {
        overflow-x: none;
        display: flex;
        grid-gap: 30px;
        gap: 30px;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
    }
}

.freeCardContainer_upper__2Jsi2 {
    display: flex;
    justify-content: space-between;
}

.freeCardContainer_icon_div__2yS0Z {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    gap: 10px;
}

.freeCardContainer_btn__HvMBN {
    padding: 5px 14px;
    border: 1px solid #ccc;
    height: 40px;
    width: 130px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    background: none;
    color: #fff;
}

.freeCardContainer_games_card__3xkQE {
    width: 100%;
}

.freeCardContainer_lower__1ykxY {
    display: flex;
    grid-gap: 30px;
    gap: 30px;
    margin-top: 20px;
    flex-direction: column;
}

.freeCardContainer_content__3nTcE {
    margin-top: 20px;
}

.freeCardContainer_image_div__1GQj_ {
    position: relative;
    text-align: center;
}

.freeCardContainer_free__16LQ5 {
    background-color: var(--main-blue);
}

.freeCardContainer_coming__HQcXI,
.freeCardContainer_free__16LQ5 {
    border-end-start-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 4px 0;
    margin-top: -4px;
    font-size: 12px;
}

.freeCardContainer_coming__HQcXI {
    background-color: #121212;
}

.freeCardContainer_image_div__1GQj_ img {
    width: 100%;
    height: 291px;
    object-fit: cover;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.freeCardContainer_subheading__2J3yu {
    color: var(--seconday-text);
}

@media screen and (min-width:768px) {
    .freeCardContainer_upper__2Jsi2 {
        display: flex;
        justify-content: space-between;
    }

    .freeCardContainer_icon_div__2yS0Z {
        display: flex;
        align-items: center;
        grid-gap: 10px;
        gap: 10px;
    }

    .freeCardContainer_btn__HvMBN {
        padding: 8px 16px;
        border: 1px solid #ccc;
        height: 34px;
        width: 120px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 400;
        background: none;
        color: #fff;
        letter-spacing: 1px;
    }

    .freeCardContainer_btn__HvMBN:hover {
        border: 1px solid #ccc;
        color: #fff;
        background-color: hsla(0, 0%, 100%, .226);
    }

    /* .freeCardContainer_games_card__3xkQE {
        width: 500px;
    } */

    .freeCardContainer_lower__1ykxY {
        display: flex;
        grid-gap: 30px;
        gap: 30px;
        margin-top: 20px;
        flex-direction: row;
    }

    .freeCardContainer_content__3nTcE {
        margin-top: 20px;
    }

    .freeCardContainer_heading__34Fh- {
        font-size: 14px;
    }

    .freeCardContainer_subheading__2J3yu {
        font-size: 14px;
        margin-top: 4px;
    }

    .freeCardContainer_image_div__1GQj_ img {
        width: 100%;
    }

    .freeCardContainer_image_div__1GQj_ {
        background: hsla(0, 0%, 100%, .61);
        overflow: hidden;
        border-radius: 4px;
        border: 0 solid hsla(0, 0%, 100%, 0);
    }

    .freeCardContainer_banner__3cF79 {
        opacity: 1;
    }

    .freeCardContainer_banner__3cF79:hover {
        opacity: .9;
    }
}

.mini-card-container_cont_heading__1Z7A6 {
    font-size: 20px;
    margin-bottom: 20px;
}

.mini-card_main__2JYj4 {
    display: flex;
    height: 108px;
    width: 310px;
    border-radius: 12px;
    align-items: center;
    margin-bottom: 20px;
    grid-gap: 20px;
    gap: 20px;
    padding: 20px;
}

.mini-card_main__2JYj4:hover {
    background-color: #3d3d3d;
}

.mini-card_price__vEBTn {
    margin-top: 5px;
}

.mini-card_image_div__2NgXx img {
    width: 65px;
    height: 87px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.mini-card_content__2TxHx {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mini-card_heading__33gAB {
    font-size: 16px;
    margin-bottom: 5px;
}

:root {
    --main-black: #121212;
    --light-black: #202020;
    --main-gray: #2b2b2b;
    --gray-text: hsla(0, 0%, 100%, 0.72);
    --main-blue: #0074e4;
    --disabled-state-opacity: 0.5;
    --seconday-text: hsla(0, 0%, 96.1%, 0.6);
}

.browseLink_container__s0CA9 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.browseLink_image_div__2iSFQ {
    background: linear-gradient(324.69deg, #0074e4, #000005 89.06%);
    width: 100%;
    height: 224px;
    border-radius: 20px;
    background-position: 50%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.browseLink_image_div__2iSFQ img {
    width: 100%;
}

.browseLink_btn__1vcqd {
    display: none;
}

.browseLink_heading__1qI3f {
    margin-bottom: 20px;
    font-size: 18px;
}

.browseLink_subheading__33DXX {
    color: hsla(0, 0%, 96.1%, .6);
    color: var(--seconday-text);
    font-size: 14px;
}

@media screen and (min-width:768px) {
    .browseLink_container__s0CA9 {
        flex-direction: row;
        grid-gap: 50px;
        gap: 50px;
        max-width: 1200px;
        margin: 50px auto auto;
        align-items: center;
    }

    .browseLink_image_div__2iSFQ {
        background: linear-gradient(324.69deg, #0074e4, #000005 89.06%);
        width: 703px;
        height: 400px;
        border-radius: 20px;
        background-position: 50%;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .browseLink_image_div__2iSFQ img {
        width: 100%;
    }

    .browseLink_heading__1qI3f {
        margin-bottom: 30px;
        font-size: 20px;
    }

    .browseLink_btn__1vcqd {
        display: block;
        height: 50px;
        width: 150px;
        border-radius: 4px;
        padding: 5px, 26px, 5px, 26px;
        font-size: 14px;
        margin-top: 30px;
        font-weight: 400;
        border: none;
        cursor: pointer;
    }
}

.carousel .slide .legend {
    opacity: 1;
    background-color: transparent;
}

#legend {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: transparent;
    opacity: 1;
}

.main__carousel__tag {
    font-size: 12px;
    color: #f5f5f5;
    text-transform: uppercase;
}

.main__carousel__description {
    font-size: 18px;
    color: #f5f5f5;
    margin-top: 15px;
    width: 360px;
    /* letter-spacing: 3px; */
    word-spacing: 6px;
}

.main__carousel__tag__second {
    color: #f5f5f5;
    font-size: 14px;
    margin-top: 15px;
}

.main__buy__btn {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.main__btn {
    width: 117px;
    height: 40px;
    color: #000;
    border: none;
    background-color: #fff;
    border-radius: 4px;
}

.wishlist__div {
    display: flex;
    color: #fff;
    align-items: center;
    font-size: 12px;
    height: 40px;
    padding: 15px 20px;
    margin-left: 20px;
    border-radius: 4px;
}

.wishlist__icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.carousel:hover .slide .legend {
    opacity: 1;
}

.image {
    background: linear-gradient(270deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .5));
}

.wishlist__div:hover {
    background-color: hsla(0, 0%, 96.1%, .21176470588235294);
    cursor: pointer;
}

@media only screen and (max-width:768px) {
    #legend {
        display: none;
    }
}

.card_main__11554 {
    display: flex;
    grid-gap: 18px;
    gap: 18px;
    margin: 0 4px;
}

.card_bars__2MR5W {
    display: none;
}

.card_bar__2Jnqx {
    display: flex;
    align-items: center;
    width: 200px;
    height: 80px;
    padding: 12px;
    border-radius: 10px;
    grid-gap: 12px;
    gap: 12px;
    font-size: 14px;
}

.card_bar__2Jnqx>img {
    width: 40px;
    height: 56px;
    object-fit: cover;
    border-radius: 4px;
}

.card_bar__2Jnqx:hover {
    background: #3d3d3d;
}

@media (min-width:1100px) {
    /* .card_main__11554 {
        margin: 0 40px;
    } */

    .card_bars__2MR5W {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

::-webkit-scrollbar {
    display: none;
}

.carousel img {
    border-radius: 8px;
}

.carousel.carousel-slider .control-arrow {
    display: none;
}

.carousel .slide img {
    border-radius: 8px;
}

.carousel .control-dots,
.control-dots {
    display: none;
}

@media (min-width:960px) {
    .control-dots {
        display: none;
    }
}

/*! CSS Used fontfaces */
@font-face {
    font-family: "Brutal Type";
    src: url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraLight.eot");
    src: local("Brutal Type Extra Light"), local("BrutalType-ExtraLight"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraLight.eot?#iefix") format("embedded-opentype"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraLight.woff2") format("woff2"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraLight.woff") format("woff"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Brutal Type";
    src: url("https://epic-games-clone.vercel.app/fonts/BrutalType-Medium.eot");
    src: local("Brutal Type Medium"), local("BrutalType-Medium"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Medium.eot?#iefix") format("embedded-opentype"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Medium.woff2") format("woff2"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Medium.woff") format("woff"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Brutal Type";
    src: url("https://epic-games-clone.vercel.app/fonts/BrutalType-Bold.eot");
    src: local("Brutal Type Bold"), local("BrutalType-Bold"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Bold.eot?#iefix") format("embedded-opentype"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Bold.woff2") format("woff2"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Bold.woff") format("woff"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Brutal Type";
    src: url("https://epic-games-clone.vercel.app/fonts/BrutalType-Thin.eot");
    src: local("Brutal Type Thin"), local("BrutalType-Thin"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Thin.eot?#iefix") format("embedded-opentype"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Thin.woff2") format("woff2"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Thin.woff") format("woff"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Brutal Type";
    src: url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraBold.eot");
    src: local("Brutal Type Extra Bold"), local("BrutalType-ExtraBold"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraBold.eot?#iefix") format("embedded-opentype"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraBold.woff2") format("woff2"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraBold.woff") format("woff"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Brutal Type";
    src: url("https://epic-games-clone.vercel.app/fonts/BrutalType-Black.eot");
    src: local("Brutal Type Black"), local("BrutalType-Black"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Black.eot?#iefix") format("embedded-opentype"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Black.woff2") format("woff2"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Black.woff") format("woff"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Brutal Type";
    src: url("https://epic-games-clone.vercel.app/fonts/BrutalType-Light.eot");
    src: local("Brutal Type Light"), local("BrutalType-Light"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Light.eot?#iefix") format("embedded-opentype"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Light.woff2") format("woff2"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Light.woff") format("woff"), url("https://epic-games-clone.vercel.app/fonts/BrutalType-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Brutal Type";
    src: url("https://epic-games-clone.vercel.app/fonts/BrutalType.eot");
    src: local("Brutal Type"), local("BrutalType"), url("https://epic-games-clone.vercel.app/fonts/BrutalType.eot?#iefix") format("embedded-opentype"), url("https://epic-games-clone.vercel.app/fonts/BrutalType.woff2") format("woff2"), url("https://epic-games-clone.vercel.app/fonts/BrutalType.woff") format("woff"), url("https://epic-games-clone.vercel.app/fonts/BrutalType.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}