*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;  
}

body{
    background: #121212;
}

.dropdown-toggle{
    padding: 12px 0 !important;
    opacity: 0.6;
    color: var(--white-color);
    font-size: 1.2rem !important;
    --bs-btn-focus-box-shadow: 0 0 0 1px rgb(245, 245, 245);
}

.dropdown-toggle:hover{
    opacity: 1;
    color: var(--white-color);
    
}

.btn:first-child:hover, :not(.btn-check)+.btn:hover ,.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color:var(--white-color);
}

.dropdown-menu{
    background-color: rgb(32, 32, 32);  
}

.dropdown-item{
    font-size: 12px;
    color: var(--white-color);
    opacity: 0.6;
    --bs-dropdown-link-hover-bg: none;
}

.dropdown-item:hover{
    opacity: 1;
    color: var(--white-color);
    text-decoration: underline;
}

.filter-bar {
    padding: 14px 0;
}

.filter-text{
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 500;;
}

.resetbtn{
    background-color: #121212;
    color: var(--white-color);
    font-size: 1.2rem;
}

.img-responsive {
    border-radius: 6px;
}

.base{
    -webkit-transition: color 125ms ease-in-out;
    transition: color 125ms ease-in-out;
    color: rgba(245, 245, 245, 0.6);
    font-size: 1rem;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
    padding-top: 10px;
}

.game {
    display: block;
    margin-bottom: 48px;
    text-decoration: none;
}

.game:hover .img-responsive {
    filter: brightness(130%);
}

.game-name{
    color: var(--white-color);
    font-size: 1.4rem;
    padding: 12px 0;
    line-height: 1.8rem;
    font-weight: 500;
}

.price-bar{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sale{
    font-size: 1.1rem !important;
    font-weight: 600;
    padding: 5px 12px !important;
}

.sale, .sale-price {
    margin-right: 10px;
}

.sale-price, .price{
    font-size: 1.5rem;
    font-weight: 500;
}

.sale-price{
    color: rgba(245, 245, 245, 0.6);
    text-decoration: line-through;
}

.price{
    color: var(--white-color) ;
}

.searchbox{
    
    padding: 0 12px;
    margin-bottom: 15px;
    color: rgb(245, 245, 245);
    background-color: rgb(32, 32, 32);
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
    grid-gap: 16px;
    gap: 16px;
    padding-left: 16px;
}

.searchbox > input {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
}

.searchbox > input:focus{
	outline: none;
}

.accordion{
    --bs-accordion-border-color: none;
    --bs-accordion-bg: none;
    --bs-accordion-btn-focus-box-shadow:0 0 0 1px rgb(245, 245, 245);

}

.accordion-button{
    background: #121212;
    padding: 16px 8px;
    font-size: 1.2rem; 
    outline: none;
    font-weight: 600;
    color: rgba(245, 245, 245, 0.6) !important;
}

.accordion-button::after {
    opacity: 0.6;
}


.accordion-button:hover {
    color: var(--white-color) !important;
}
 
.accordion-button:hover.accordion-button::after {
    opacity: 1;
}

.accordion-body{
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    color: var(--white-color);
    cursor: pointer;
}

.accordion-body a {
    font-size: 1.4rem;
    color: rgba(245, 245, 245, 0.6); 
    text-decoration: none;
}

.accordion-body:hover a {
    color: var(--white-color);
}

.accordion-button:not(.collapsed) {
    background-color: #121212;
}

.accordion-button.collapsed::after{
    
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  
}

.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.line{
	content: "";
    background-color: rgb(245, 245, 245);
    display: block;
    height: 1px;
    margin: 8px 0;
    opacity: 0.1;
}

.pagination{
    --bs-pagination-bg: #121212;
    --bs-pagination-color: var(--white-color);
    --bs-pagination-border-color: none;
    --bs-pagination-disabled-bg: none;
    --bs-pagination-hover-color: none;
    --bs-pagination-hover-bg: none;
    --bs-pagination-focus-bg: none;
    --bs-pagination-active-color: none;
    --bs-pagination-active-bg: none;
    --bs-pagination-active-border-color: none;
    --bs-pagination-focus-color: none;
    margin-bottom: 90px;
}

.page-item{
    opacity: 0.6;
}

.page-item:hover{
    opacity: 1;
}

.page-link {
    font-size: 1.5rem;
    font-weight: 500;
}

.page-link:hover {
    color: var(--white-color);
}

